<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Register" [style]="{ width: '400px' }">
    <form #registerForm="ngForm" (ngSubmit)="registerUser()">
      <!-- Firstname -->
      <div class="field">
        <label for="firstname">Firstname</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="registerRequest.firstname"
          class="w-full"
          id="firstname"
          name="firstname"
          #firstname="ngModel"
          required
        />
        <small class="p-error" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
          Firstname is required
        </small>
      </div>

      <!-- Lastname -->
      <div class="field">
        <label for="lastname">Lastname</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="registerRequest.lastname"
          class="w-full"
          id="lastname"
          name="lastname"
          #lastname="ngModel"
          required
        />
        <small class="p-error" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          Lastname is required
        </small>
      </div>

      <!-- Phone -->
      <div class="field">
        <label for="phone">Phone</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="registerRequest.phone"
          class="w-full"
          id="phone"
          name="phone"
          #phone="ngModel"
          required
        />
        <small class="p-error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          Phone is required
        </small>
      </div>

      <!-- Email -->
      <div class="field">
        <label for="email">Email</label>
        <input
          type="email"
          pInputText
          [(ngModel)]="registerRequest.email"
          class="w-full"
          id="email"
          name="email"
          #email="ngModel"
          required
        />
        <small class="p-error" *ngIf="email.invalid && (email.dirty || email.touched)">
          Email is required
        </small>
      </div>

      <!-- Password -->
      <div class="field">
        <label>Password</label>
        <p-password
          [(ngModel)]="registerRequest.password"
          [feedback]="false"
          [toggleMask]="true"
          class="w-full"
          inputId="password"
          name="password"
          #password="ngModel"
          required
        ></p-password>
        <small class="p-error" *ngIf="password.invalid && (password.dirty || password.touched)">
          Password is required
        </small>
      </div>

      <!-- Role -->
      <div class="field">
        <label for="role">Role</label>
        <p-dropdown
          [(ngModel)]="registerRequest.role"
          [options]="roles"
          optionLabel="label"
          optionValue="value"
          class="w-full"
          id="role"
          name="role"
          #role="ngModel"
          required
        ></p-dropdown>
        <small class="p-error" *ngIf="role.invalid && (role.dirty || role.touched)">
          Role is required
        </small>
      </div>

      <!-- Occupation -->
      <div class="field">
        <label for="occupation">Occupation</label>
        <p-dropdown
          [(ngModel)]="registerRequest.occupation"
          [options]="occupations"
          optionLabel="label"
          optionValue="value"
          class="w-full"
          id="occupation"
          name="occupation"
          #occupation="ngModel"
          required
        ></p-dropdown>
        <small class="p-error" *ngIf="occupation.invalid && (occupation.dirty || occupation.touched)">
          Occupation
        </small>
      </div>

      <div class="field">
        <label for="userImage">User Image</label>
        <input
          type="file"
          class="w-full"
          id="userImage"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <small class="p-error" *ngIf="!selectedFile">User image is required</small>
      </div>
      <div class="preview-container" *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Preview" class="image-preview" />
      </div>
      <!-- Submit Button -->
      <p-button
        label="Register"
        styleClass="w-full"
        [disabled]="registerForm.invalid"
        type="submit"
      ></p-button>
      <div class="mt-2">
        Have an account? <a routerLink="/">Login</a>
      </div>
    </form>
  </p-card>
</div>
