<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span class="toolbar-title">{{ pageTitle }}</span>
  <div>  <button
    mat-icon-button
    [routerLink]="'/admin/profile'"
    aria-label="Navigate to My Profile"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
    <button mat-icon-button (click)="logOutUser()">
      <mat-icon>logout</mat-icon>
    </button></div>
</mat-toolbar>
<mat-sidenav-container [class.sidenav-open]="sidenav.opened">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      *ngIf="activeUser && activeUser.userImage"
      [src]="getUserImageSrc(activeUser.userImage)"
      alt="User Image"
    />
    <h4 class="name" *ngIf="activeUser?.firstname || activeUser?.lastname; else noName">
      {{ activeUser?.firstname || '' }} {{ activeUser?.lastname || '' }}
    </h4>
    <ng-template #noName>
      <h4 class="name">Anonymous User</h4>
    </ng-template>
    <p class="designation">{{ activeUser?.role || 'Role' }}</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/admin/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/users-stats">
      <mat-icon>bar_chart</mat-icon>
      <span>Users Stats</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/drivers-stats">
      <mat-icon>directions_car</mat-icon>
      <span>Routes & Drivers Stats</span>
    </button>
    <button mat-button class="menu-button" routerLink="/admin/passengers-stats">
      <mat-icon>emoji_people</mat-icon>
      <span>Reservations & Passengers Stats</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/admin/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-box">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
