<div class="card">
  <div class="filter-section flex-center">
    <label for="filterDate" class="filter-label">Filter by Date:</label>
    <div class="calendar-container">
      <p-calendar
        id="filterDate"
        [(ngModel)]="routes"
        [style]="{ width: '150px' }"
        (onSelect)="onFilterDateChange($event)"
        placeholder="Select Date"
        dateFormat="yy-mm-dd">
      </p-calendar>
      <button *ngIf="routes"
              class="clear-date-btn"
              (click)="clearDate()">
        X
      </button>
    </div>
  </div>
  <hr class="divider"/>
  <p-table
    #dt
    [value]="routes"
    dataKey="id"
    [rows]="2"
    [rowsPerPageOptions]="[2, 4, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['departure', 'arrival', 'driverName']"
    [tableStyle]="{ 'min-width': '75rem' }">

    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Departure</th>
        <th style="width:20%">Arrival</th>
        <th style="width:15%">Departure Date</th>
        <th style="width:15%">Departure Time</th>
        <th style="width:10%">Booking Count</th>
        <th style="width:10%">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{ route.departure }}</td>
        <td>{{ route.arrival }}</td>
        <td>{{ route.departureDate | date }}</td>
        <td>{{ route.departureDate | date:'shortTime' }}</td>
        <td>
        <span [ngStyle]="{ 'color': 'red', 'font-weight': 'bold' }">
          {{ route.bookingCount }}
        </span>
        </td>
        <td>
          <p-button label="View Bookings" severity="success" (click)="viewBookings(route)" />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No routes found.</td>
      </tr>
    </ng-template>
  </p-table>

</div>

<!-- Dialog for Bookings -->
<p-dialog
  header="Bookings"
  [(visible)]="displayBookingDialog"
  [modal]="true"
  [style]="{ width: '50vw' }">
  <ng-template pTemplate="content">
    <p-table [value]="selectedRouteBookings">
      <ng-template pTemplate="header">
        <tr>
          <th>Passenger Name</th>
          <th>Booking Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr>
          <td>{{ booking.passenger.lastname }} {{ booking.passenger.firstname }}</td>
          <td>{{ booking.bookingDate | date }}</td>
          <td>
            <p-button
              label="Accept"
              severity="success"
              (click)="acceptBooking(booking)"
              styleClass="p-mr-2"/>
            <p-button
              label="Reject"
              severity="danger"
              (click)="rejectBooking(booking)"
              styleClass="p-mr-2"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      label="Close"
      severity="danger"
      (click)="closeDialog()"
      styleClass="p-mr-2"/>
  </ng-template>
</p-dialog>



