.route-details {
  font-family: Arial, sans-serif;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info-item {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
}

.info-title {
  font-weight: bold;
  color: #444;
}

.info-content {
  font-size: 1.1em;
  color: #333;
}

.info-section {
  margin-top: 1rem;
}

.section-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.driver-info {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}

.driver-icon {
  color: #007ad9;
  font-size: 2rem;
  margin-right: 10px;
}

.driver-details {
  flex-grow: 1;
}

.driver-name {
  font-size: 1.2em;
  font-weight: bold;
}

.driver-id {
  font-size: 1.1em;
  color: #777;
}

.passenger-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1em;
}

.passenger-list li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.passenger-icon {
  margin-right: 10px;
  color: #007ad9;
  font-size: 1.5rem;
}

.passenger-list li i {
  font-size: 1.3rem;
  margin-right: 8px;
}

.button-base {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-base:hover {
  opacity: 0.9;
}

.view-details-btn {
  background-color: #d90000;
}

.reserve-btn {
  align-self: center;
  justify-content: center;
  margin-top: 3px;
  background-color: #28a745;
}

.view-details-btn:hover {
  background-color: #bd0303;
}

.reserve-btn:hover {
  background-color: #218838;
}
.dialog-content {
  font-family: Arial, sans-serif;
}

.info-section {
  margin-top: 1rem;
}

.section-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.person-list {
  list-style-type: none;
  padding-left: 0;
}

.person-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin: 0.5rem 0;
}

.person-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.person-icon {
  color: #007ad9;
  font-size: 1.5rem;
  margin-right: 10px;
}

.person-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  flex-grow: 1;
}

.button-base {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-base:hover {
  opacity: 0.9;
}

.complaint-btn {
  background-color: #d90000;
}

.complaint-btn:hover {
  background-color: #bd0303;
}

.current-user-btn {
  background-color: #3583dc;
}

.current-user-btn:hover {
  background-color: #246bb7;
}
