<div class="p-grid user-profile-container">
  <div class="p-col-12 p-md-4">
    <p-card header="Mon Profil" styleClass="user-card">
      <div class="p-d-flex p-flex-column p-ai-center">
        <img
          *ngIf="activeUser && activeUser.userImage"
          [src]="getUserImageSrc(activeUser.userImage)"
          alt="User Image"
          class="user-image"
        />
        <span *ngIf="!activeUser?.userImage">No Image Available</span>
      </div>
      <div class="user-details">
        <p><strong>Prénom:</strong> {{ activeUser.firstname }}</p>
        <p><strong>Nom:</strong> {{ activeUser.lastname }}</p>
        <p><strong>Email:</strong> {{ activeUser.email }}</p>
        <p><strong>Téléphone:</strong> {{ activeUser.phone || 'Non renseigné' }}</p>
        <p><strong>Rôle:</strong> {{ activeUser.role }}</p>
        <p><strong>Occupation:</strong> {{ activeUser.occupation || 'Non renseignée' }}</p>
        <button
          pButton
          label="Mettre à jour"
          icon="pi pi-save"
          class="p-button-primary p-button-rounded"
          (click)="update=true"
        ></button>
      </div>
    </p-card>
  </div>

  <p-dialog [(visible)]="update" class="p-col-12 p-md-8">
    <p-card  header="Modifier le Profil" subheader="Gérez vos informations personnelles" styleClass="user-card">
      <form (ngSubmit)="updateProfile(activeUser)" class="p-fluid">
        <div class="p-field">
          <label for="firstname">Prénom</label>
          <input
            pInputText
            id="firstname"
            [(ngModel)]="activeUser.firstname"
            name="firstname"
            placeholder="Entrez votre prénom"
            required
          />
        </div>

        <div class="p-field">
          <label for="lastname">Nom</label>
          <input
            pInputText
            id="lastname"
            [(ngModel)]="activeUser.lastname"
            name="lastname"
            placeholder="Entrez votre nom"
            required
          />
        </div>

        <div class="p-field">
          <label for="email">Email</label>
          <input
            pInputText
            id="email"
            [(ngModel)]="activeUser.email"
            name="email"
            placeholder="Entrez votre email"
            required
          />
        </div>

        <div class="p-field">
          <label for="phone">Téléphone</label>
          <input
            pInputText
            id="phone"
            [(ngModel)]="activeUser.phone"
            name="phone"
            placeholder="Entrez votre numéro de téléphone"
          />
        </div>

        <div class="p-field">
          <label for="occupation">Occupation</label>
          <input
            pInputText
            id="occupation"
            [(ngModel)]="activeUser.occupation"
            name="occupation"
            placeholder="Entrez votre profession"
          />
        </div>
        <div class="field">
          <label for="userImage">User Image</label>
          <input
            type="file"
            class="w-full"
            id="userImage"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
        </div>

        <div class="p-field p-mt-4">
          <button
            pButton
            type="submit"
            label="Mettre à jour"
            icon="pi pi-save"
            class="p-button-primary p-button-rounded"
          ></button>
        </div>
      </form>
    </p-card>
  </p-dialog>
</div>
