<p-table
  [value]="tasks"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 7, 8]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:17%">Title</th>
      <th style="width:17%">Duration</th>
      <th style="width:17%">Description</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.description }}</td>
      <td>{{ task.complainer.email }}</td>
      <td>{{ task.targetUser.email }}</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>
