@media (max-width: 768px) {
  .p-sidebar {
    width: 75% !important;
  }
}
/* CSS pour aligner le bouton à gauche */
.sidebar-toggle-btn {
  position: fixed;
  top: 20px;   /* Positionner le bouton à 20px du haut */
  left: 20px;  /* Positionner le bouton à 20px du côté gauche */
  z-index: 1000; /* Assurez-vous que le bouton soit au-dessus des autres éléments */
}
